p {
  margin-bottom: 20px;
}

.wine-data-page-title {
  font-size: x-large;
  font-weight: 600;
}

.sub-title {
  font-weight: 600;
}

.centered {
  display: block;
  margin: 10px auto;
  width: max-content;
}
